{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock meta %}

{% block content %}
<body>
    <div class = "login template d-flex justify-content-center align-items-center 100-w 100-vh bg-rgb">
        <div class="form_container p-5 rounded">
            <h1>Login</h1>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="input-login">
                    <label for="text">Username</label>
                    <input type="text" name="username" placeholder="Enter Username" class="form-control">
                </div>
                
                <div class="input-login">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Enter Password" class="form-control">
                </div>
    
                <div class="button-login">
                    <input class="btn btn-primary" type="submit" value="Login">
                </div>
            </form>
            
            <div class="failed-login">
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}     
            </div>
              
        <p>Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a></p>
    
        </div>
        
    </div>

</body>


{% endblock content %}