{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>bp-mart stock</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock meta %}

{% block content %}
<body>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <span class="navbar-brand m-2 h1 text-white">Welcome, {{ name }}!</span>
            <a href="{% url 'main:logout' %}" class="btn btn-secondary">Logout</a>
        </div>
    </nav>

    <div class="main"> 
        <h1>Stok Produk bp-mart</h1>
    
        <!-- <h5>Name:</h5>
        <p>{{name}}</p>
    
        <h5>Class:</h5>
        <p>{{class}}</p> -->
    
        <p>Kamu menyimpan {{ items_count }} item pada aplikasi ini</p>
    
        <div class="row">
            {% for item in items %}
                <div class="col-md-4 mb-4">
                    <div class="card custom-card d-flex flex-column {% if forloop.last %}last-item{% endif %}">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">
                                <strong>Amount:</strong> {{ item.amount }}<br>
                                <strong>Description:</strong> {{ item.description }}<br>
                                <strong>Price:</strong> {{ item.price }}<br>
                                <strong>Date Added:</strong> {{ item.date_added }}<br>
                                <strong>Purchased From:</strong> {{ item.purchased_from }}<br>
                            </p>
    
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                
                                <form method="post" action="{% url 'main:add_amount' item.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-info mr-2">Add</button>
                                </form>
                                
                                <form method="post" action="{% url 'main:reduce_amount' item.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-info mr-2">Reduce</button>
                                </form>
    
                                <a href="{% url 'main:edit_item' item.pk %}" class="btn btn-warning mr-2">Edit</a>
    
                                <form method="post" action="{% url 'main:delete_item' item.id %}" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger mr-2">Delete</button>
                                </form>
    
                              </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    
        <br />
    
        <h5>Sesi terakhir login: {{ last_login }}</h5>
    
        <br>
    
        <a href="{% url 'main:create_item' %}" class="btn btn-primary">Add New Item</a>
        <a href="{% url 'main:logout' %}" class="btn btn-secondary">Logout</a>
    
    </div>
    
</body>
    
{% endblock content %}
